@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Listesi</h4>
                <p>Kategori ile ilgili işlemrinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz. </p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Ürün Kategori</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Ürün Görselleri</th>
                                <th>Ürün Detayları</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@product.ProductName</td>
                                    <td>@product.ProductPrice</td>
                                    <td>@product.Category.CategoryName</td>
                                    <td><a asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id=@product.ProductId class="btn btn-danger">Sil</a></td>
                                    <td><a asp-area="Admin" asp-controller="Product" asp-action="UpdateProduct" asp-route-id=@product.ProductId class="btn btn-warning">Güncelle</a></td>
                                    <td><a asp-area="Admin" asp-controller="ProductImage" asp-action="ProductImageDetail" asp-route-id=@product.ProductId class="btn btn-info">Ürün Görselleri</a></td>
                                    <td><a asp-area="Admin" asp-controller="ProductDetail" asp-action="UpdateProductDetail" asp-route-id=@product.ProductId class="btn btn-success">Ürün Detayları</a></td>

                                </tr>
                            }


                        </tbody>
                    </table>
                    <td><a asp-area="Admin" asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary">Yeni Ürün Ekle</a></td>
                </div>
            </div>
        </div>

    </div>
</section>


